#contenedor {
    background-color: #fff8f0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

}

div.encabezado {
    background-image: url(../imgs/guesteaus.png);
    color: #5a3e36;
}